{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}
<div id="app" class="clearfix">
  <div class="map-container col-sm-8 col-lg-9">
    <div>
      <div id="map-canvas"></div>
    </div>
  </div>
  <div id="control-panel" class="col-sm-4 col-lg-3 clearfix">
    <div class="col-xs-6 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body" id="options-panel">
          <div>
            <h4>Hotels</h4>
            <select data-type="hotel" id="hotel-choices">
              <option>Andaz Wall Street</option>
              <option>...</option>
            </select>
            <button data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
          <div>
            <h4>Restaurants</h4>
            <select data-type="restaurant" id="restaurant-choices">
              <option>Bouley</option>
              <option>...</option>
            </select>
            <button data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
          <div>
            <h4>Activities</h4>
            <select data-type="activity" id="activity-choices">
              <option>Mahayana Buddhist Temple Association</option>
              <option>...</option>
            </select>
            <button data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-12">
      <h3>
        <span id="day-title">
          <span>Day 2</span>
          <button class="btn btn-xs btn-danger remove btn-circle">x</button>
        </span>
      </h3>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="day-buttons">
            <button class="btn btn-circle day-btn">1</button>
            <button class="btn btn-circle day-btn current-day">2</button>
            <button class="btn btn-circle day-btn">3</button>
            <button class="btn btn-circle day-btn" id="day-add">+</button>
          </div>
        </div>
        <div class="panel-body" id="itinerary">
          <div>
            <h4>My Hotel</h4>
            <ul class="list-group">
              <div class="itinerary-item">
                <span class="title">Andaz Wall Street</span>
                <button class="btn btn-xs btn-danger remove btn-circle">x</button>
              </div>
            </ul>
          </div>
          <div>
            <h4>My Restaurants</h4>
            <ul class="list-group">
              <div class="itinerary-item">
                <span class="title">Bouley</span>
                <button class="btn btn-xs btn-danger remove btn-circle">x</button>
              </div>
            </ul>
          </div>
          <div>
            <h4>My Activities</h4>
            <ul class="list-group">
              <div class="itinerary-item">
                <span class="title">Mahayana Buddhist Temple Association</span>
                <button class="btn btn-xs btn-danger remove btn-circle">x</button>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACLq0yeXKTq80ihRrEoUUz3yHTEEm0kfw"></script>
<script src="/js/main.js"></script>

<script>
  {% autoescape false %}
  var hotels = {{ hotels | json }};
  var restaurants = {{ restaurants | json }};
  var activities = {{ activities | json }};

  hotels.forEach(function(hotel){
    $('#hotel-choices').append('<option>' + hotel.name + '</option>');
  });

  restaurants.forEach(function(restaurant){
    $('#restaurant-choices').append('<option>' + restaurant.name + '</option>');
  });

  activities.forEach(function(activity){
    $('#activity-choices').append('<option>' + activity.name + '</option>');
  });

  $('.pull-right').on('click', function(e){
    var select = $(this).prev('select')
    var getId = select.attr('id');
    var newNode = makeString(select.val());
    var listGroup;

    if(getId === 'hotel-choices') listGroup = $('.list-group')[0];
    else if (getId === 'restaurant-choices') listGroup = $('.list-group')[1];
    else if (getId === 'activity-choices') listGroup = $('.list-group')[2];

    $(listGroup).append($(newNode));
  });

  var makeString = function(val){
    var string = '<div class="itinerary-item">' +
                '<span class="title">' + val + '</span>' +
                '<button class="btn btn-xs btn-danger remove btn-circle">x</button>'
                +'</div>';
    return string;
  };

  $('.list-group').on('click','button', function(e){
    $(this).parent().remove();
  });

  var defaultClone = $('#itinerary').children().clone(true);
  var daysList = [];

   var makeDay = function(){
           //make a clone
        return $(defaultClone).clone(true);
   };

   daysList[0] = makeDay();
   daysList[1] = $('#itinerary').children();
   daysList[2] = makeDay();


  $('.day-buttons').on('click', 'button', function(){
    var days = $('#itinerary').children();
    //plus button
    if ($(this).attr('id') === 'day-add') {
      //hide current panel
      days.detach();
      var newDay = makeDay();
      daysList.push(newDay);

      var newDayNum = daysList.length;
      $('#day-title span').replaceWith('<span>Day '+newDayNum+'</span>');
      $('#itinerary').append(newDay);
      $('<button class="btn btn-circle day-btn">'+newDayNum+'</button>').insertBefore($(this));
      //create new day button with next num
      //give current-day class
      $('.day-btn').removeClass('current-day');
      $('.day-btn').last().addClass('current-day');
      //day number buttons
    } else {
      $('.day-btn').removeClass('current-day');
      $(this).addClass('current-day');
      var dayIndex = +$(this).text() - 1;
      days.detach();
      $('#itinerary').append(daysList[dayIndex]);

    }
  });

  {% endautoescape %}
</script>

{% endblock %}
